*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
}
header nav a {
    text-decoration: none;
    color: black;
    font-size: large;
    margin: 5px;
    padding: 5px;
}
header img {
    margin: 5px;
    padding: 5px;
    width: 150px;
    height: 150px;
}
header nav {
    margin: 5px;
    padding: 5px;
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% )!important;
    */
   .navegador{
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
   }
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
    }
    header nav a {
        text-decoration: none;
        color: black;
        font-size: large;
        margin: 5px;
        padding: 5px;
    }
    header img {
        margin: 5px;
        padding: 5px;
    }
    header nav {
        margin: 5px;
        padding: 5px;
    }
}
#inicioId {
    color: black;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
}
.img-carousel {
    width: 100px!important;
    height: 450px!important;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#nuestrosTrabajosId {
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
}
section h1 {
    text-align: center;
    margin: 15px;
    padding: 15px;
    
}
section h5{
    font-weight: bolder;
    margin: 15px;
    padding: 15px;
    font-size: medium;
}
section h6 {
    font-weight: lighter;
    margin: 15px;
    padding: 15px;
    font-size: medium;
}


.titulo {
    text-align: center;
    margin: 20px;
    padding: 20px;
}



.imagenes {
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#caracteristicasDelTrabajoId {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}
section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.modelo {
    margin: 10px;
    padding: 10px;
}

section div img {
    width: 150px;
    height: 150px;
}


#modelosId {
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
}
.modelos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
section div h6 p {
    font-weight: 100;
    font-size: medium;
}
footer {
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
    text-align: center;    
    font-size: medium;
    margin: 10px;
    padding: 10px;
}

/* CONTACTO */

#seccionContacto{
    background-color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.contacto {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.presupuesto {
    display: flex;
    justify-content: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.mapa {
    align-items: center;
}
 section p {
    align-items: center;
 }


 @media screen and (max-width: 576px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .titulo {
        display: flex;
        justify-content: center;
        margin: 10px;
        padding: 10px;
    }
    .imagenes {
        width: 100px;
        height: 100px;
        margin: 10px;
        padding: 10px;
    }
    .texto {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px;
    }
    #modelosId {
        flex-direction: column;
    }
    .modelos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #caracteristicasDelTrabajoId {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "titulo titulo"
        "div1 div2"
        "div3 div4"
        "div5 div6"
        "div7 none";
        justify-items: center;
    }
    
    }
 
    


