*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: orangered;
}
header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    align-items: center;
}
header img {
    width: 150px;
    height: 150px;
    padding: 10px;
}
header nav {
    
}
#inicioId {
    background-color: orangered;
    color: black;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section h1 {
    text-align: center;
    margin: 15px;
    padding: 15px;
    
}
section h5{
    font-weight: bolder;
    margin: 15px;
    padding: 15px;
    font-size: medium;
}
section h6 {
    font-weight: lighter;
    margin: 15px;
    padding: 15px;
    font-size: medium;
}


.titulo {
    text-align: center;
    margin: 20px;
    padding: 20px;
}



.imagenes {
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#caracteristicasDelTrabajoId {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "titulo titulo titulo"
    "div1 div2 div3"
    "div4 div5 div6"
    "div7 none none";
    justify-items: center;

}
.titulocaract {
    grid-area: titulo;
}
.div1 {
    grid-area: div1;
}
.div2 {
    grid-area: div2;
}
.div3 {
    grid-area: div3;
}
.div4 {
    grid-area: div4;
}
.div5 {
    grid-area: div5;
}
.div6 {
    grid-area: div6;
}
.div7 {
    grid-area: div7;
}
section div {
    display: flex;
    flex-direction: row;
    
}
section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

section div img {
    width: 150px;
    height: 150px;
}


#modelosId {
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
section div h6 p {
    font-weight: 100;
    font-size: medium;
}
footer {
    background-color: orangered;
    text-align: center;    
    font-size: medium;
    margin: 10px;
    padding: 10px;
}

/* CONTACTO */

#seccionContacto{
    background-color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.contacto {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.presupuesto {
    display: flex;
    justify-content: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.mapa {
    align-items: center;
}
 section p {
    align-items: center;
 }


 @media screen and (max-width: 576px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .titulo {
        display: flex;
        justify-content: center;
        margin: 10px;
        padding: 10px;
    }
    .imagenes {
        width: 100px;
        height: 100px;
        margin: 10px;
        padding: 10px;
    }
    .texto {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px;
    }
    #modelosId {
        flex-direction: column;
    }
    .modelos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #caracteristicasDelTrabajoId {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "titulo titulo"
        "div1 div2"
        "div3 div4"
        "div5 div6"
        "div7 none";
        justify-items: center;
    }
    
    }
 



