*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
header{
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
}
  
.bg-light {
    --bs-bg-opacity: none;
    background-color: ;
}
#inicioId {
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
}
.img-car {
    height: 700px;
    width: 630px;
}


#nuestrosTrabajosId {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
}

.imagenes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}





#caracteristicasDelTrabajoId {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
 }
 
 .cards {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     
 }

 .card-tam {
    margin: 10px;
    padding: 10px;
    background-color: rgb(253 185 83);
 }
section div {
    display: flex;
    flex-direction: row;
    
}
section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

section div img {
    width: 150px;
    height: 150px;
}


#modelosId {
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
}

section div h6 p {
    font-weight: 100;
    font-size: medium;
}
footer {
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.pie {
    margin: 5px;
   padding: 5px;
}


/* CONTACTO */

#seccionContacto{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
  
}
.contacto {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: px;
}
.inp {
    margin: 5px;
    padding: 5px;
}
.presupuesto {
    display: flex;
    justify-content: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.mapa {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
}
 section p {
    align-items: center;
 }


 @media screen and (max-width: 576px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .titulo {
        display: flex;
        justify-content: center;
        margin: 10px;
        padding: 10px;
    }
    .imagenes {
        width: 100px;
        height: 100px;
        margin: 10px;
        padding: 10px;
    }
    .texto {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px;
    }
    #modelosId {
        flex-direction: column;
    }
    .modelos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #caracteristicasDelTrabajoId {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "titulo titulo"
        "div1 div2"
        "div3 div4"
        "div5 div6"
        "div7 none";
        justify-items: center;
    }
    
    }
 



